/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Stylowanie podstawowe */
  body {
    background-image: url("kosmos.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.5;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
  }
  


  /* Style sekcji dodowania klientów */
.add-section {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.add-section h2 {
    margin-top: 0;
}

.add-section table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
}

.add-section label {
    display: block;
    margin-top: 10px;
}

.add-section input {
    background-color: rgba(34, 34, 34, 0.7);
    color: #fff;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid none;
}

.add-section button[type="submit"] {
    background-color: rgba(34, 34, 34, 0.7);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.add-section button[type="submit"]:hover {
    background-color: #555;
}
